.Page {
    text-align: center;
    background-color: #3283a8;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: normal;
}
